*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Hammersmith One', 'Volkhov';
}

:root{
  --text-color: #f2f4ea;
  --bg-color: #1e1f20;
  
  --h1-font: 55px;
  --h2-font: 48px;
  --p-font: 14px;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

/* Home Section */
.home-page {
  position: relative;
  display: block; /* Ensures block-level behavior */
  line-height: 0; /* Removes any line-height spacing */
}

.home-img img {
  width: 100%;
  height: 704px;
  object-fit: cover;
}

.home-content {
  position: absolute; 
  top: 0%;  /* Keep h1 at top left */
  left: 5%;
  width: 100%; /* Ensure full width for positioning button */ 
  height: 100%; /* Ensure full height for positioning button */
}

.home-content h1 {
  font-family: 'Volknov';
  font-size: 135px; 
  margin-bottom: 50px;
  line-height: 1.3;
  letter-spacing: 10px;
}

.home-content .home-btn {
  position: absolute;
  bottom: 10%; /* Adjust this value to control vertical positioning */
  right: 10%; /* Adjust this value to control horizontal positioning */
  color: var(--text-color);
  font-size: 20px;
  font-family: 'Volkhov';
  height: 120px;
  width: 220px;
  background-color: transparent;
  border-radius: 50%; 
  border: 1.5px solid var(--text-color);
  cursor: pointer;
  transition: all .30s ease-in-out;
}

.home-content .home-btn:hover{
  background-color: var(--bg-color);
}

.navbar{
  display: flex;
  position: absolute;
  padding: 40px 4%;
  top: 45%;
  left: 0;
  text-align: left;
}

.navbar a{
  color: var(--text-color);
  font-size: 16px;
  margin: 15px 22px;
  transition: all .30s ease-in-out;
}

.navbar a:hover{
  color: #978b83;
}

/*.hright {
  display: flex;
  position: absolute;
  padding: 45px 4%;
  top: 0;
  right: 0;
  text-align: right;
  align-items: center;
}

.hright a:first-child {
  color: var(--text-color);
  font-size: var(--p-font);
  margin-right: 20px;
}

.hright a {
  vertical-align: middle;
  color: var(--text-color);
  margin-right: 18px;
  margin-left: 5px;
  transition: all .30s ease-in-out;
}

.hright a:hover {
  color: #978b83;
  transform: translateY(-3px);
}

#menu-icon{
  color: var(--text-color);
  font-size: 30px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}*/

/*About Section*/
.about-page {
  background-color: var(--bg-color);
}

.about-img img {
  width: 100%;
  height: 390px;
  object-fit: cover;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 8%;
}

.about-content h1 {
  font-size: var(--h1-font); 
  color: var(--text-color);
  align-self: center;
  letter-spacing: 2.5px;
}

.about-content p {
  font-family: 'Volkhov';
  font-size: var(--p-font);
  line-height: 1.8;
  color: var(--text-color);
}

/*Menu Section*/
.menu-page h1 {
  font-size: var(--h1-font); 
  color: var(--text-color);
  text-align: center;
  letter-spacing: 2.5px;
  padding: 100px;
}

.menu-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.menu-img{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-img img{
  width: 100%;
  height: 550px;
  object-fit: cover;
  filter: brightness(60%);
}

.menu-img a.menu-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  font-size: 20px;
  font-family: 'Volkhov';
  height: 120px;
  width: 220px;
  background-color: transparent;
  border-radius: 50%; 
  border: 1.5px solid var(--text-color);
  cursor: pointer;
  transition: all .30s ease-in-out;

}

.menu-img  .menu-btn:hover{
  background-color: var(--bg-color);
}

/*Review Section*/
.review-page{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 80px 8%;
}

.review-content{
  padding: 80px;
}

.review-content i{
  margin-bottom: 20px;
}

.review-content h2{
  margin-bottom: 20px;
}

.review-content p{
  font-size: var(--p-font);
  margin-bottom: 20px;
}

/*Contact Section*/
.contact-us {
  background-image: url('img/contact.png');
  background-size: cover;
  min-height: 400px;
}

.contact-head h1 {
  font-size: 170px;
  font-family: 'Volknov';
  margin-bottom: 40px;
}

.contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  gap: 100px;
  max-width: 1000px;
  padding-left: 8%;
}

.contact-content h4 {
  font-size: 22px;
}

.contact-content p {
  line-height: 1.6;
  font-size: var(--p-font);
}


/* Large devices (desktops) */
@media (max-width: 1200px) {
  :root {
    --h1-font: 50px;
    --h2-font: 40px;
  }

  .home-content h1 {
    font-size: 110px;
  }

  .navbar{
    top: 38%;
  }

  .contact-head h1 {
    font-size: 135px;
  }


}

/* Medium devices (tablets) */
@media (max-width: 992px) {
  .home-content h1 {
    font-size: 90px;
  }

  .menu-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .review-page {
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 4%;
  }

  .contact-head h1 {
    font-size: 111px;
  }

  .navbar {
    top: 32%;
  }
}

/* Small devices (landscape phones) */
@media (max-width: 768px) {

  .home-content h1 {
    font-size: 70px;
  }

  .home-content .home-btn,
  .menu-img a.menu-btn {
    font-size: 16px;
    height: 100px;
    width: 180px;
  }

  .navbar {
    top: 26%;
    padding: 20px 4%;
  }

  .navbar a {
    font-size: 14px;
    margin: 10px 15px;
  }

  .about-content {
    padding: 60px 4%;
  }

  .review-content {
    padding: 40px;
  }

  .contact-head h1 {
    font-size: 86px;
    margin-bottom: 40px;
  }
  
}
  

/* Extra small devices (phones) */
@media (max-width: 576px) {
 
  .home-content h1 {
    font-size: 50px;
  }

  .navbar {
    top: 18%;
  }

  .navbar a {
    font-size: 12px;
    margin: 8px 12px;
  }

  .menu-content,
  .about-content,
  .review-page,
  .contact-content {
    grid-template-columns: 1fr;
  }

  .contact-head h1 {
    font-size: 64px;
    margin-bottom: 40px;
  }

  .review-content {
    padding: 30px 20px;
  }

}